################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/hada-p1.sln
/hada-p1/hada-p1.csproj
/hada-p1/obj/Debug
/hada-p1/Properties
/hada-p1/App.config
